.myActive{
    color: #c80000;

}

.infodown{
     border-top: transparent;
    border-right: transparent;
    border-bottom: medium solid #aaaaaa;
    border-left: transparent;
    padding-top: 6%;
}