.dropbtn {
    background-color: #9fcdff;
    color: white;
    padding-left: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 38px;
    width: 90px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    z-index: 999;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content li {
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}