.zhuTiDiv{
    height: 600px;
}

.BuJu962{
    width: 96%;
    margin-left: 2%;
   }

.BuJu981{
    width: 98%;
    margin-left: 1%;
   }
.ShangPian2{
    margin-top: 2%;
}
.ShangPian1{
    margin-top: 1%;
}