<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>库房管理系统</title>

  <!-- Bootstrap core CSS -->
  <link href="../media/css/bootstrap-4.0.0.css" rel="stylesheet">

    <!-- Custom styles for this template -->
  <link href="../media/css/xinxi.css" rel="stylesheet">
  <link href="../media/css/SHandOUT-2.css" rel="stylesheet">
  <link rel="shortcut icon" href="../media/images/favicon.ico" />
  <script src="../media/js/jquery-3.2.1.min.js"></script>
  <script src="../media/js/popper.min.js"></script>
  <script src="../media/js/bootstrap-4.0.0.js"></script>
  <script src="../media/js/SHandSearch-2.js"></script>
  <link href="../media/css/dropdown.css" rel="stylesheet">

</head>

<body>

  <!-- 导航栏 -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">回到主页</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">主页
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="showinfo">个人信息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactUs">联系我们</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="log">登出</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div id="shenhe_tk" class="xinxibiao container haveaBorder" style="display: none;z-index: 1003;" >
      <!-- 弹框表格 用于显示信息 -->
      <div class="row " style="margin-top: 20px;">
          <div style="width: 20%;margin-left: 40%">
              <span style="font-family: fantasy">申请单详细</span></div>
      </div>

      <div class="row " style="margin-top: 20px;">
                <div id="sh_left_169" style="width: 50%;height:80%;">
                    <!-- 左侧结束 -->
                </div>
                <div  id="sh_right_169" style="width: 50%;height:80%;">
                     <!-- 右侧结束 -->
                </div>
      </div>

      <div class="row " id="reason_title" style="margin-top: 20px;display: none;">
          <div style="width: 20%;margin-left: 40%">
              <span style="font-family: fantasy">出库单相关信息</span></div>
      </div>

      <div class="row " id="reason_info" style="margin-top: 20px;">
                <div id="sh_left_reason" style="width: 50%;height:80%;">
                    <!-- 左侧结束 -->
                </div>
                <div  id="sh_right_reason" style="width: 50%;height:80%;">
                     <!-- 右侧结束 -->
                </div>
      </div>

      <div  style="margin-top: 2%;text-align: center;width:100%">
                <div style="display: inline-block;width: inherit">
                  <button type="button" class="btn btn-success" id="sh_save">同意</button>
                  <button type="button" class="btn" id="sh_close" style="margin-left: 20%" >取消</button>
                </div>
      </div>
  </div>
 <!-- 出库弹框表2 -->
  <div id="out2_info" class="container" style="">
      <div class="row" ><h4>请确认出库信息</h4> </div>
        <div class="row" >
            <div style="width: 35% ;padding-left: 10%;">

                <h4>设备名</h4>
                <h4>型号</h4>
                <h4>序列号</h4>
                <h4>货位号</h4>
                <h4>状态</h4>
                <h4>ID</h4>
                <h4>备注</h4>
            </div>
             <div style="width: 60%">
                 <h4 id="out2_item_info"> </h4>
             </div>
        </div>

      <button type="button" class="btn btn-success" id="out_yes">确认</button>
      <button type="button" class="btn btn-secondary" id="out_no">取消</button>
  </div>
<!-- 出库弹框表3 -->
   <div id="out3_info" class="xinxibiao container" style="display: none;z-index: 1003;height: auto;">

        <div class="row" >
              <div class="dropdown" style="width: 100%">
                    <button class="dropbtn btn" id="dropdown-out3" style="width: 20%;margin-left: 40%;">工程出库</button>
                    <div class="dropdown-content" id="dropdown-content-out3" style="margin-left: 40%;">
                    <li id="dropdown-gcck">工程出库</li>
                    <li id="dropdown-ywkt">业务开通</li>
                    <li id="dropdown-gzcl">故障处理</li>


                    </div>
             </div>

        </div>
       <div class="row have30he maRtop20 ">
            <div class="set62Center" id="out3_inf_mid" style="display: none;">

            </div>
       </div>
       <div class="set62Center maRtop5">

         <button type="button" class="btn" id="out3_yes">确认</button>
         <button type="button" class="btn" id="out3_no">取消</button>
         <button type="button" class="btn" id="out3_back">返回上一页</button>
       </div>

       <h4 style="text-align: center">TIPS:请选择出库原因，并填写内容</h4>
       <!--<div class="row" >-->
          <!--<h4 class="set62Center"></h4>-->
      <!--</div>-->
  </div>
  <!-- LEVEL2+ id0 czw搜索结果div-->
<div id="main_3" >

      <h3 style="text-align: center">现在是承载网显示页面</h3>

        <!-- 搜索结果的显示页面-->
        <div class="" style="width: 100%;padding-top:10px;
           padding-left:5%;height: 60px;
           border-color: #71dd8a;border-width: thin;
           border-style: dashed;">
            <!-- 下拉菜单  -->
      <div class="dropdown">
        <button class="dropbtn btn" id="dropdown-1-btn">承载网</button>
        <div class="dropdown-content">
            <li id="dropdown-1-169">169网</li>
            <li id="dropdown-1-czw">承载网</li>
        </div>
      </div>

            <!-- 显示页面的搜索框-->
          <input class="input-medium search-query" type="text" placeholder="支持模糊查询(含有)" id="input1"/> <button type="button" class="btn" id="query1">快捷查询</button>
        </div>

        <table class="table table-hover" id="myTable" style="width:90%;margin-left: 5%;">
             <!-- 显示页面的table -->
    <thead>
      <tr>

        <th>设备名</th>
          <th>型号</th>
          <th>序列号</th>
          <th>货位号</th>
          <th>状态</th>
          <th>ID</th>
          <th>备注</th>


      </tr>
    </thead>
    <tbody>

    </tbody>
</table>
		</div>
<!-- LEVEL1 id1光模块显示DIV -->
{#<div id="info_gmk" style="display: none">#}
{#    <div class="row set43Center">#}
{#      <h3>现在是光模块显示页面</h3>#}
{#  </div>#}
{#        <!-- 搜索结果的显示页面-->#}
{#        <div style="width: 100%;padding-top:10px;padding-left:5%;height: 60px;border-color: #71dd8a;border-width: thin;border-style: dashed;">#}
{#                  <!-- 下拉菜单  -->#}
{#      <div class="dropdown">#}
{#        <button class="dropbtn btn" id="dropdown-2-btn">承载网</button>#}
{#        <div class="dropdown-content">#}
{#            <li id="dropdown-2-gmk">光模块</li>#}
{#            <li id="dropdown-2-169">169网</li>#}
{#            <li id="dropdown-2-czw">承载网</li>#}
{#        </div>#}
{#      </div>#}
{#            <!-- 显示页面的搜索框-->#}
{#        <input class="input-medium search-query" type="text" placeholder="支持模糊查询光模块(含有)" id="info_gmk_inp"/> <button type="button" class="btn" id="info_gmk_query">快捷查询</button>#}
{#        </div>#}
{##}
{#        <table class="table table-hover" id="gmk_table" style="width:90%;margin-left: 5%;">#}
{#             <!-- 显示页面的table -->#}
{#    <thead>#}
{#      <tr>#}
{#        <th>ID</th>#}
{#          <th>厂家</th>#}
{#          <th>型号</th>#}
{#      </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    </tbody>#}
{#</table>#}
{#		</div>#}
  <!-- LEVEL2 id2 169显示DIV -->
<div id="info_169" style="display: none">
      <h3 style="text-align: center">现在是169网显示页面</h3>
        <!-- 搜索结果的显示页面-->
        <div style="width: 100%;padding-top:10px;padding-left:5%;height: 60px;border-color: #71dd8a;border-width: thin;border-style: dashed;">
                  <!-- 下拉菜单  -->
      <div class="dropdown">
        <button class="dropbtn btn" id="dropdown-3-btn">承载网</button>
        <div class="dropdown-content">
            <li id="dropdown-3-169">169网</li>
            <li id="dropdown-3-czw">承载网</li>
        </div>
      </div>
            <!-- 显示页面的搜索框-->
        <input class="input-medium search-query" type="text" placeholder="支持模糊查询光模块(含有)" id="info_169_inp"/> <button type="button" class="btn" id="info_169_query">快捷查询</button>
        </div>

        <table class="table table-hover" id="169_table" style="width:90%;margin-left: 5%;">
             <!-- 显示页面的table -->
    <thead>
      <tr>

          <th>厂家</th>
          <th>设备名称</th>
          <th>型号</th>
          <th>序列号</th>

          <th>柜位号</th>

          <th>工程</th>
          <th>状态</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
		</div>

   <!-- SH 审核显示DIV -->
<div class="haveaBorder" id="info_shenhe" style="display: none;">
        <table class="table table-hover" id="shenhe_table" style="width:90%;margin-left: 5%;">
             <!-- 显示页面的table -->
    <thead>
      <tr>
           <th>申请ID</th>
        <th>申请用户邮箱</th>
          <th>类型</th>
          <th>设备网络</th>
          <th>设备ID</th>
          <th>申请时间</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
		</div>

  <!-- 中间提示按钮 -->
  <button type="button" class="btn btn-success setcenter btn-lg" id="dh_result"  >成功</button>
<!-- 遮罩层 -->
    <div id="mask" class="mask "></div>
<!-- 设备出库弹框表1 -->
{#  <div id="out_info" class="xinxibiao container" style="height: 180px;display: none;margin-top: 200px;z-index: 1003">#}
{#      <h4>请输入你想出库设备的配件名称或规格型号或序列号</h4>#}
{#          <input class="input-medium search-query" type="text" placeholder="支持模糊查询(含有)" id="input2"/> <button type="button" class="btn" id="query2">快捷查询</button>#}
{#          <button type="button" class="btn" id="cancel2">取消</button>#}
{#  </div>#}

<!-- 光模块出库弹框表  直接复制入库思路-->
  <div id="out_gmk" class="xinxibiao container" style="display: none;margin-top: 20px;z-index: 1003">
<!-- 弹框表格 用于采集信息 -->
        <h3 style="text-align: center"> 光模块专用出库</h3>
            <div class="row " style="margin-top: 20px;height: 20%">
                <div id="left_gmk-2" style="width: 50%;height:80%;">
                     <div class="dropdown" style="width: 100%">
                    <button class="dropbtn btn" id="dropdown-2-s" style="width: 20%;margin-left: 40%;">华为</button>
                    <div class="dropdown-content" id="dropdown-content-gmk-left-2" style="margin-left: 40%;">
                    <li id="dropdown-hw-2">华为</li>
                    <li id="dropdown-sk-2">思科</li>
                    <li id="dropdown-h3-2">h3c</li>
                    <li id="dropdown-br-2">贝尔</li>
                    <li id="dropdown-dp-2">迪普</li>

                    </div>
             </div>
                    <!-- 左侧结束 -->
                </div>

                <div  id="right_gmk-2" style="width: 50%;height:80%;">
                   <div class="dropdown" style="width: 100%">
                    <button class="dropbtn btn" id="dropdown-2-r" style="width: 40%;margin-left: 20%;">型号</button>
                    <div class="dropdown-content" id="dropdown-content-gmk-right-2" style="margin-left: 20%;">


                    </div>
             </div>
                     <!-- 右侧结束 -->
                </div>
            </div>
               <div class="row set43Center " id="changJiaInfo-2" style="margin-top: 2%;height: 10%;" >
                   <!-- INFO-->

             </div>
          <div class="row set43Center" id="xingHaoInfo-2" style="margin-top: 2%;height: 10%;" >
                   <!-- INFO-->

             </div>
             <div  style="margin-top: 2%;text-align: center" >
                   <!-- INFO-->
                 提示：请选择光模块 并确认信息 然后输入数量
             </div>
               <div class="" style="margin-top: 2%;text-align: center" >
                   <!-- 输入框 数量-->
                    <input class="input-medium search-query" type="text" placeholder="请输入光模块数量" id="gmk_ip-2" style="display:inline-block;"/>
                </div>
            <!--<div class="row set43Center"style="margin-top: 2%;">-->
                <!--<div style="width: 50%;">-->
                  <!--<button type="button" class="btn leftmovelittle" id="gmk_save-2">保存</button>-->
                  <!--<button type="button" class="btn leftmovelittle" id="gmk_close-2">取消</button>-->
                <!--</div>-->
            <!--</div>-->

               <div class=""style="margin-top: 2%;text-align: center;width: 100%">
                <div style="display: inline-block;width: inherit">
                  <button type="button" class="btn btn-success" id="gmk_save-2" >保存</button>
                  <button type="button" class="btn " id="gmk_close-2" style="margin-left: 15%">取消</button>
                </div>
            </div>

  </div>
  <!-- chengzaiwang弹框表 -->
  <div id="gengxin" class="xinxibiao container" >
      <!-- 弹框表格 用于采集信息 -->
            <div class="row" style="margin-top: 20px;">
                <div style="width: 50%;height:80%;">
                    <div class="col-12">
                    <div class="youduiqi">
                      <label><h5>分公司:</h5></label>
                        <input class="myinp " type="text"   placeholder="分公司">
                    </div>
                    </div>
                <div class="col-12 ">
                    <div class="youduiqi">
                 <label><h5  >备件名称:</h5></label>
                <input type="text" class="myinp "  placeholder="名字">
                </div>
                    </div>
                <div class="col-12 "><div class="youduiqi">
                 <label><h5  style="color:#F00">规格型号:</h5></label>
                <input type="text" class="myinp "  placeholder="型号">
                </div>
                </div>
                <div class="col-12 "><div class="youduiqi">
                 <label><h5> </h5></label>
                <input type="text" class="myinp "  placeholder="">
                </div>
                </div>
                <div class="col-12 "><div class="youduiqi">
                 <label><h5  style="color:#F00"></h5></label>
                <input type="text" class="myinp " placeholder="">
                </div>
                </div>
                       <div class="col-12 "><div class="youduiqi">
                 <label><h5></h5></label>
                <input type="text" class="myinp "  placeholder="">
                </div>
                </div>

                    <!-- 左侧结束 -->
                </div>
                <div style="width: 50%;height:80%;">
                 <div class="col-12 "><div class="youduiqi">
                 <label><h5  style="color:#F00"></h5></label>
                <input type="text" class="myinp "  placeholder="">
                </div>
                </div>

                <div class="col-12 "><div class="youduiqi">
                 <label><h5  style="color:#F00"></h5></label>
                <input type="text" class="myinp "  placeholder="">
                </div>
                </div>
                <div class="col-12 "><div class="youduiqi">
                 <label><h5  style="color:#F00"></h5></label>
                <input type="text" class="myinp "  placeholder="">
                </div>
                </div><div class="col-12 "><div class="youduiqi">
                 <label><h5></h5></label>
                <input type="text" class="myinp "  placeholder="">
                </div>
                </div>
                <div class="col-12 "><div class="youduiqi">
                 <label><h5></h5></label>
                <input type="text" class="myinp "  placeholder="">
                </div>
                </div>
                <div class="col-12 "><div class="youduiqi">
                 <label><h5></h5></label>
                <input type="text" class="myinp "  placeholder="">
                </div>
                </div>
                </div>
            </div>
                <div class="row "style="margin-top: 2%;">

                    <button type="button" class="btn leftmovelittle" id="gengxin_auto">辅助填写</button>
                     <button type="button" class="btn leftmovelittle" id="save">保存</button>
                    <button type="button" class="btn leftmovelittle" id="close">取消</button>

                </div>
                <div class="row" >
                   <h5 class="leftmovelittle">提示: 辅助填写以A9K为模板，不会填写关键内容 ，红色为必须填写内容 </h5>
                </div>
                 </div>

  <div id="ruku_table_169" class="xinxibiao container" style="display: none;z-index: 1003;" >
      <!-- 弹框表格 用于采集信息 -->
      <div class="row " style="margin-top: 20px;">
          <div style="width: 20%;margin-left: 40%">
              <span style="font-family: fantasy">169网入库填写</span></div>
      </div>
            <div class="row" style="margin-top: 20px;">
                <div id="left_169" style="width: 50%;height:80%;">

                    <!-- 左侧结束 -->
                </div>
                <div  id="right_169" style="width: 50%;height:80%;">

                     <!-- 右侧结束 -->
                </div>
            </div>
            <div class="row "style="margin-top: 2%;">
                <div style="width: 50%;margin-left: 25%;">
                  <button type="button" class="btn leftmovelittle" id="169_auto">辅助填写</button>
                  <button type="button" class="btn leftmovelittle" id="169_save">保存</button>
                  <button type="button" class="btn leftmovelittle" id="169_close">取消</button>
                </div>
            </div>
                <div class="row" style="margin-top: 5%" >
                   <h5 class="leftmove5">提示: 辅助填写不会填写关键内容 ;红色为必须填写内容</h5>
                </div>
                 </div>

   <div id="ruku_table_gmk" class="xinxibiao container" style="display: none;z-index: 1003;" >
      <!-- 弹框表格 用于采集信息 -->
      <div class="row " style="margin-top: 20px;">
          <div style="width: 20%;margin-left: 40%">
              <span style="font-family: fantasy">光模块入库填写</span></div>
      </div>
            <div class="row " style="margin-top: 20px;height: 20%">
                <div id="left_gmk" style="width: 50%;height:80%;">
                     <div class="dropdown" style="width: 100%">
                    <button class="dropbtn btn" id="dropdown-1-s" style="width: 20%;margin-left: 40%;">华为</button>
                    <div class="dropdown-content" id="dropdown-content-gmk-left" style="margin-left: 40%;">
                    <li id="dropdown-hw">华为</li>
                    <li id="dropdown-sk">思科</li>
                    <li id="dropdown-h3">h3c</li>
                    <li id="dropdown-br">贝尔</li>
                    <li id="dropdown-dp">迪普</li>

                    </div>
             </div>
                    <!-- 左侧结束 -->
                </div>

                <div  id="right_gmk" style="width: 50%;height:80%;">
                   <div class="dropdown" style="width: 100%">
                    <button class="dropbtn btn" id="dropdown-1-r" style="width: 40%;margin-left: 20%;">型号</button>
                    <div class="dropdown-content" id="dropdown-content-gmk-right" style="margin-left: 20%;">


                    </div>
             </div>
                     <!-- 右侧结束 -->
                </div>
            </div>
               <div class="row set43Center " id="changJiaInfo" style="margin-top: 2%;height: 10%;" >
                   <!-- INFO-->

             </div>
          <div class="row set43Center" id="xingHaoInfo" style="margin-top: 2%;height: 10%;" >
                   <!-- INFO-->

             </div>
             <div class="row set62Center" style="margin-top: 2%" >
                   <!-- INFO-->
                 提示：请选择光模块 并确认信息 然后输入数量
             </div>
               <div class="row set43Center" style="margin-top: 2%" >
                   <!-- 输入框 输入数量-->
                    <input class="input-medium search-query" type="text" placeholder="请输入光模块数量" id="gmk_ip"/>
                </div>
            <div class="row set43Center"style="margin-top: 2%;">
                <div style="width: 50%;">
                  <button type="button" class="btn leftmovelittle" id="gmk_save">保存</button>
                  <button type="button" class="btn leftmovelittle" id="gmk_close">取消</button>
                </div>
            </div>

                 </div>

   <!-- 入库类型选择 -->
 <div id="ruku_select" class="xinxibiao container" style="height: 180px;display:none;margin-top: 200px;z-index: 1003">
      <h4>请选择入库类型</h4>
       <button type="button" class="btn" id="ruku_czw">承载网</button>
       <button type="button" class="btn" id="ruku_gmk">光模块</button>
       <button type="button" class="btn" id="ruku_169">169网</button>
       <h5 class="page-header"></h5>
       <br>
       <button type="button" class="btn" id="ruku_no">取消</button>
  </div>
<!-- 初始显示区域 -->
  <div class="container" id="index_c1">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">
          库房管理系统
      </h1>
      <p class="lead">
          系统介绍：快捷查询 仅支持配件名称;查询后可进行出库
      </p>
        <!-- 下拉菜单  -->
      <div class="dropdown">
        <button class="dropbtn btn" id="dropdown-btn">承载网</button>
        <div class="dropdown-content">
            <li id="dropdown-169">169网</li>
            <li id="dropdown-czw">承载网</li>
        </div>
      </div>
      <input class="input-medium search-query" type="text" placeholder="支持模糊查询(含有)" id="search_input0"/>
      <button type="button" class="btn" id="formquery">快捷查询</button>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../media/images/image6.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">光模块专用出库</h4>
            <p class="card-text">权限要求：1</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" id="gMKout">点击</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../media/images/image2.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">产品入库</h4>
            <p class="card-text">
                设备入库时填写 </br> 权限要求：2 </p>
          </div>
          <div class="card-footer">
            <a id="zeng" class="btn btn-primary">点击</a>
          </div>
        </div>
      </div>

{#      <div class="col-lg-3 col-md-6 mb-4">#}
{#        <div class="card h-100">#}
{#          <img class="card-img-top" src="../media/images/image3.jpg" alt="">#}
{#          <div class="card-body">#}
{#            <h4 class="card-title">产品出库</h4>#}
{#              <p class="card-text"> 非光模块相关设备出库 </br>#}
{#                权限要求：3</p>#}
{#          </div>#}
{#          <div class="card-footer">#}
{#            <a id="out" class="btn btn-primary">进入</a>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../media/images/image4.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">后台管理（仅管理人员使用）</h4>
            <p class="card-text">权限要求：3 </p>
          </div>
          <div class="card-footer">
{#            <a href="dh" class="btn btn-primary">进入</a>#}
               <a id="houtaiSH" class="btn btn-primary">进入</a>
          </div>
        </div>
      </div>

         <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../media/images/image5.jpg" alt=""　>
          <div class="card-body">
            <h4 class="card-title"> 出入库审核（仅管理人员使用）</h4>
            <p class="card-text"> 权限要求：3  </p>
          </div>
          <div class="card-footer">
            <a id="shenHe" class="btn btn-primary">进入</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
 <script src="../media/js/jquery.cookie.js"></script>
  <script src="../media/js/CKheRK.js" ></script>
  <script src="../media/js/houtaiControl1.js" ></script>

</body>

	

</html>
