<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新主页测试</title>

     <!-- Bootstrap core CSS -->
  <link href="../media/css/bootstrap-4.0.0.css" rel="stylesheet">

    <!-- Custom styles for this template -->
  <link href="../media/css/xinxi.css" rel="stylesheet">
  <link href="../media/css/SHandOUT-2.css" rel="stylesheet">
  <link rel="shortcut icon" href="../media/images/favicon.ico" />
  <link href="../media/css/dropdown.css" rel="stylesheet">
    <link href="../media/css/XinIndex.css" rel="stylesheet">
{#  <script src="../media/js/jquery-3.2.1.min.js"></script>#}
{#  <script src="../media/js/popper.min.js"></script>#}
{#  <script src="../media/js/bootstrap-4.0.0.js"></script>#}
{#  <script src="../media/js/SHandSearch-2.js"></script>#}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">回到主页</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">主页
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="showinfo">个人信息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactUs">联系我们</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="log">登出</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="row zhuTiDiv haveaBorder BuJu981 ShangPian1">

</div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
</body>
</html>