<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../media/css/bootstrap-4.0.0.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../media/css/xinxi.css" rel="stylesheet">
  <script src="../media/js/jquery-3.2.1.min.js"></script>
  <script src="../media/js/popper.min.js"></script>
  <script src="../media/js/bootstrap-4.0.0.js"></script>
  <script src="../media/js/SHandSearch-2.js"></script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">主页</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">主页
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="#">个人信息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">联系我们</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="log">登出</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container" >
    <div class="row" id="main_1" style="height: 700px;margin-top: 20px;">
        <div class="col-4" id="SEARCH_DIV" style="height:100%;">

        </div>
        <div class="col-8"  style="height:100%;padding-left: 10px" >
            <div class="row" style="height: 50px;padding-left: 10px;">
                <button type='button' class='btn' id="close_search" >关闭搜索栏</button>
            </div>
            <div style="padding-top: 10px;">
                    <table class="table table-hover" id="myTable">
    <thead>
      <tr>
        <th>分公司</th>
        <th>设备名</th>
        <th>设备类型</th>
          <th>型号</th>
          <th>序列号</th>
          <th>入库时间</th>
          <th>入库地点</th>
          <th>编号</th>
          <th>货位号</th>
          <th>订单号</th>
          <th>调出时间</th>
          <th>调往地</th>
          <th>所属网络</th>
          <th>备注</th>
          <th>资产标签</th>

      </tr>
    </thead>

    <tbody>

    </tbody>
</table>
            </div> <!--此处table div结束 -->

        </div>
    </div>
</div>
	<!-- -->
{#  <div class="container" id="main_1" >#}
{#      <div class="row" style="padding-top: 230px;" id="search_row">#}
{#<div class="col " >#}
{# <div class="dropdown" style="float: right;padding-right:35%;">#}
{#  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">#}
{#    承载网#}
{#  </button>#}
{#  <div class="dropdown-menu">#}
{#    <a class="dropdown-item" href="#">Link 1</a>#}
{#    <a class="dropdown-item" href="#">Link 2</a>#}
{#    <a class="dropdown-item" href="#">Link 3</a>#}
{#  </div>#}
{#</div>#}
{#    </div>#}
{##}
{##}
{##}
{#		<div class="col" id="main_2" >#}
{#					<form  action="/search-post" method="post">#}
{#						<input class="input-medium search-query " type="text" placeholder="型号" id="sn"/> <button type="button" class="btn" id="formquery1">查找</button>#}
{#					</form>#}
{#				</div>#}
{#</div>#}
{#        <div id="main_3" >#}
{##}

{#		</div>#}
{#      <!-- 分界线 -->#}
{#      <div id="pages" style="font-size:12px; width:605px; line-height:40px; text-align:center;"></div>#}
{##}
{#  </div>#}

  <!-- Footer -->
  <footer class="py-5 bg-dark " style="position: relative">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->



<script src="../media/js/jquery.cookie.js"></script>

</body>

	

</html>
